body {
  background-color: lightpink;
  font-size: 25px;
  font-family: 'Corinthia', cursive;
}

h1 {
  font-size: 60px;
  text-align: center;
}

li {
  font-size: 50px;
  margin-bottom: 20px;
}

#main {
  margin-left: 25px;
  margin-right: 10px;
}

#main ol{
  display: block;
  margin: auto;
  width: fit-content;
}