/*-- HTML --*/
html {
    background-color: #FCF897;
    font-family: 'Spartan', sans-serif;
    max-width: 100%;
}

.subtext {
    padding-left: 30px;
}

.bottomline {
    padding-bottom: 10px;    
}

.firstName {
    padding-top: 50px;
}

/*-- HTML End --*/

/*-- Header --*/

/*-- Navigation --*/
#topnav {
  background-color: #D2CA18;
  overflow: hidden;
}

#topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

#topnav a.active {
  background-color: #FFF400;
}
/*-- Navigation End --*/

/*-- Header End --*/

/*-- Body --*/
body {
    max-width: 100%;
    margin: 0px;
}

/*-- Section --*/
section{
  max-width: 95%;
  margin: auto;
    
}

.profilepicture {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 150px;
    border-radius: 50%;
    padding-bottom: 10px;
}

.contactinfo {
    
}

h2 {
    text-align:center;
    line-height: 50px;
    border-style: solid;
}
/*
#contacticon {
    font-size:24px;
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    
}
*/

.skillsinfo {
    list-style-type: circle;
}

.subclassh4 {
    padding-left: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 50px;
}

.grid-item1 {
    background-color: aqua;
    padding: 20px;
}
.grid-item2 {
    padding: 20px;
}
/*-- Section End --*/

/*-- Body End --*/